@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
@layer utilities {
  .font-inherit {
    font-family: inherit;
  }
}

.Input_field{
  display: flex;
  justify-content: center;
  align-items: center;
}